body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EAF6F6;
    border-width: 6px;
    width: 5%;
    margin: 100px auto;
}

p {
    line-height: 2;
}

a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

i {
    padding: 5px;
}

a:hover {
    color: #EAF6F6;
    text-decoration: none;
}

.top-container {
    background-color: #e0ebe8;
    position: relative;
    padding-top: 100px;
    width: 100%;
    height: 85vh;
    display: block;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.middle-container {
    margin-top: 100px;
}

.personal-img {
    width: 200px;
    border-radius: 100%;
}

.intro-p {
    width: 30%;
    margin: 30px auto 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.coding-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.avocado-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.contact-message {
    line-height: 2;
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    padding: 12px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color:#11cdd4;
    text-decoration: none;
}

.btn:hover {
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    background: #30e3cb;
    -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.85);
    -moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.85);
    box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.85);
    text-decoration: none;

}

.bottom-container {
    margin: 100px auto 0;
    background-color:#66BFBF;
    padding: 50px 0 20px;
    width: 100%;
}

.footer-link {
    margin: 10px 20px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
